/* Junçao de propriedades
* resumido
*legivel*/

.bb {
    /* background propiedades*/
    background-color: #000;
    background-image: url(image/bg.gif);
    background-repeat: no-repeat;
    background-position: left top;
    /* background shorthand*/
    background : #000 url(image/bg.gif) no-repeat left top;
    
}

h2{
    /* font properties*/
    font-style: italic;
    font-weight: bold;
    font-size: .8em;
    line-height: 1.2;
    font-family: Arial, sans-serif;

    /* font shorthand*/
    font: italic bold .8em/1.2 Arial, sans-serif;
}